body {
  margin: 0;
  background-color: #4ca7d7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.page__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.pokemon__logo {
  width: 260px;
  height: 125px;
  background-image: url("https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png");
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 155px 155px 155px 155px 155px;
  grid-gap: 20px;
}

.card {
  width: 100%;
  position: relative;
}

.speech__container {
  display: block;
  position: absolute;
  top: -30%;
  left: -40%;
  padding: 20px;
  background-color: white;
  border: solid 4px orange;
  border-radius: 45%;
}

.speech__container::after {
  content: ' ';
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid orange;
  transform: rotate(340deg);
  position: absolute;
  top: 90%;
  left: 80%;
}

.pokemon__favorite {
  color: red;
  position: absolute;
  top: 5%;
  left: 80%;
  cursor: pointer;
}

.list__item {
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.151);
  position: relative;
}

.list__item:hover {
  transform: scale(1.1);
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px black;
}

.list__item--title {
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.fa-info {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  color: orange;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 89%;
  left: 85%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fa-info:hover {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.151);
}

.list__item--types {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 1px black;
  padding: 10px 10px;
}

.types__item {
  background-color: grey;
  border-radius: 30px;
  padding: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.types__item:hover {
  background-color: orange;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.pokeball {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pokeball:hover {
  box-shadow: 5px 5px 5px darkslategray;
}

.favorites {
  display: flex;
  align-items: center;
  position: relative;
}

.favorites__title {
  cursor: pointer;
}

.favorites__list {
  list-style: none;
  padding: 0;
  display: flex;
  transform: scale(0.7) translate(-50%, -50%);
  background-color: rgba(255, 165, 0, 0.9);
  /* padding: 5px; */
  border-radius: 5px;
  border: solid 2px darkslategray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  left: 120%;
  top: -100%;
}






/* // MODAL */

.container__modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  width: 420px;
  height: 260px;
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px 20px 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-times {
  background-color: white;
  color: red;
  cursor: pointer;
}

.fa-times:hover {
  transform: scale(1.3);
}

.modal__name {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

.modal__content--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.modal__stats {
  flex-grow: 1;
}

.modal__types--title,
.modal__abilities--title {
  margin: 0 0 10px 0;
  font-family: "Open Sans", sans-serif;
}

.modal__types,
.modal__abilities {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 0 20px 0;
}

.modal__types--item {
  margin-right: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: lightsalmon;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 15px;
}

.modal__abilities--item {
  margin-right: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: lightblue;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 15px;
}
